<div class="container">
    <div class="row">
    <div class="col">
      <div class="div-block-12"></div>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12-sm">
      <img src="../images/walmart-funding.svg" loading="lazy" alt="This work was supported by a grant from Walmart"/>
    </div>
  </div>

  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12-sm cc-by">
      <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank"><img src="../images/cc-by.svg" loading="lazy" alt=""/></a>
    </div>
  </div>
    
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-12-sm">
        <div class="cta-links">
          <a href="https://forms.gle/j4mMrFCtnFksqgDg8" target="_blank" class="nav-link w-inline-block"><h3 class="nav-heading">CONTACT US</h3></a>
        </div>    
      </div>
    </div>
  </div>  
</div> <!-- end of container --> 